---

 - name: install mongo in ubuntu
   include: ubuntu.yml
   when: ansible_distribution == "Ubuntu"

 - name: install mongo in CENtos
   include: amazon.yml
   when: ansible_distribution == "Amazon"

 - name: create a folder for data
   file: path=/data state=directory owner=mongodb group=mongodb 

 - name: create a sub folder
   file: path=/data/db state=directory owner=mongodb group=mongodb

 - name: to set up shard1 cluster
   include: shard1.yml
   when: "'shard1' in group_names" 
 
 - name: to set up shard2 cluster
   include: shard2.yml 
   when: "'shard2' in group_names"

 - name: to create a config server
   include: config.yml
   when: "'config' in group_names"


