---

 - name: change the port
   include_vars: vars/shard2

 - name: create a template
   template: src=mongod.j2 dest=/etc/mongod.conf owner=root group=root

 - name: send the script
   template: src=script-s2.j2 dest=/home/ubuntu/script.sh mode=555 
   when: "'{{ sha2_0 }}' in inventory_hostname"

 - name: run the initilization command
   command: mongod --config /etc/mongod.conf --fork

 - name: add the replica sets in the file script.sh
   lineinfile:
        dest: /home/ubuntu/script.sh
        line: "mongo --port 27018 --eval 'rs.add( { host: \"{{ item }}:27018\", priority: 0, votes: 0 } )'"
        state: present
   with_items: "{{groups['shard2']}}"

 - name: run the script
   command: sh /home/ubuntu/script.sh
   when: "'{{ sha2_0 }}' in inventory_hostname"

 - name: delete the script
   file: path=/home/ubuntu/script.sh state=absent
   when: "'{{ sha2_0 }}' in inventory_hostname"

