--- 

 - name: change the port
   include_vars: vars/shard1

 - name: create a template 
   template: src=mongod.j2 dest=/etc/mongod.conf owner=root group=root

 - name: send the script
   template: src=script-s1.j2 dest=/home/ubuntu/script.sh mode=555 
   when: "'{{ sha1_0 }}' in inventory_hostname"



 - name: run the initilization command
   command: mongod --config /etc/mongod.conf --fork

 - name: run the script
   command: sh /home/ubuntu/script.sh
   when: "'{{ sha1_0 }}' in inventory_hostname"

 - name: delete the script
   file: path=/home/ubuntu/script.sh state=absent
   when: "'{{ sha1_0 }}' in inventory_hostname"

 - name: send the replica set script
   copy: src=rs.sh dest=/home/ubuntu/ mode=0777
   when: "'{{ sha1_0 }}' in inventory_hostname"

 - name: add the replica sets in the file rs.sh
   lineinfile:
        dest: /home/ubuntu/rs.sh
        line: "mongo --port 27018 --eval 'rs.add( { host: \"{{ item }}:27018\", priority: 0, votes: 0 } )'"
        state: present
   with_items: "{{groups['shard1']}}"
   when: "'{{ sha1_0 }}' in inventory_hostname"

 - name: run the script
   command: sh /home/ubuntu/rs.sh
   when: "'{{ sha1_0 }}' in inventory_hostname"

 - name: delete the script
   file: path=/home/ubuntu/rs.sh state=absent
   when: "'{{ sha1_0 }}' in inventory_hostname"
