---
 - name: add gpg keys
   shell: apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv EA312927

 - name: add mng rep
   shell: echo "deb http://repo.mongodb.org/apt/ubuntu xenial/mongodb-org/3.2 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-3.2.list

 - name: install package
   apt: name=mongodb-org update_cache=true state=present

# - name: create a service for mongo
#   template: src=mongodb.j2 dest=/etc/systemd/system/mongodb.service owner=root group=root

