---
      - name: Create a new EC2 key
        ec2_key:
            name: "{{ key_name }}"
            region: ap-south-1
        register: ec2_key

      - name: create the .pem keys
        copy: content={{ ec2_key.key.private_key }} dest=/etc/ansible/keys/{{ key_name }}.pem mode=0400
        ignore_errors: yes


      - name: send the private keys to the group_vars
        lineinfile:
             dest: /etc/ansible/group_vars/{{ item }}
             line: " ansible_ssh_private_key_file: /etc/ansible/keys/{{ key_name }}.pem"
             state: present
        with_items: 
             - config
             - shard1
             - shard2
             - mongos
