---
      - name: Create VPC
        ec2_vpc_net:
          name: ishan-sample
          cidr_block: "{{ vpc }}"
          region: "{{ region }}"
          state: "present"
        register: my_vpc

      - debug: msg="{{ my_vpc.vpc.id }}"



      - name: associate subnet to the VPC
        ec2_vpc_subnet:
         state: present
         vpc_id: "{{ my_vpc.vpc.id }}"
         region: "{{ region }}"
         az: "{{ region }}a"
         cidr: "{{ subnetA }}"
         resource_tags:
           Name: Subnet A
        register: subneta



      - set_fact: 
           subnet_A: "{{ subneta.subnet.id }}"
 

      - name: associate subnet to the VPC
        ec2_vpc_subnet:
         state: present
         vpc_id: "{{ my_vpc.vpc.id }}"
         az: "{{ region }}b"
         region: "{{ region }}"
         cidr: "{{ subnetB }}"
         resource_tags:
           Name: Subnet B
        register: subnetb


      - set_fact:
          subnet_B: "{{ subnetb.subnet.id }}"

    
      - name: create ec2 instances for config server
        include: config-server.yml

      - name: create ec2 instance for mongos server
        include: mongos.yml

      - name: create ec2 instance for shard1 server
        include: shard1.yml

      - name: create ec2 instance for shard2 server
        include: shard2.yml
 
